.vscode/
__pycache__/*
*.cpp
*.so
*.bin
*.obj
yasps/build
yasps/dist
yasps/*.egg-info
yasps/*/*.so
yasps/*/*.c

# ignore macOS metadata
.DS_Store

# ignore all binary files
*.out

# ignore all compiled files
*.so
*.bin
*.cpp
*.cuh
*.cu
*.hpp
*.h
*.c


# ignore all meshes
*.ele
*.node
*.obj

**/__pycache__/*

*.zip

*.mp4
*.png
*.npy
*.npz

.venv/*

yasps/build/*
yasps/yasps.egg-info/*
.mypy_cache/*
.ropeproject/*
blender_files/*
*.log
iafd soap

examples/data/*.jpg
examples/waves

**/check_solution.py
