.vscode/
__pycache__/*
*.cpp
*.so
*.bin
*.obj
yasps/build
yasps/dist
yasps/*.egg-info
yasps/*/*.so
yasps/*/*.c

# ignore macOS metadata
.DS_Store

# ignore all binary files
*.out

# ignore all compiled files
*.so
*.bin
*.cpp
*.cuh
*.cu
*.hpp
*.h
*.c
!examples/ccd/cuda_tools.h
!examples/ccd/eigen_data.h
examples/ccd/.ccd-architecture


# ignore all meshes
*.ele
*.node
*.obj

**/__pycache__/*

*.zip

*.mp4
*.png
*.npy
*.npz

.venv/*

yasps/build/*
yasps/yasps.egg-info/*
.mypy_cache/*
.ropeproject/*
blender_files/*
*.log

examples/data/*.jpg
examples/waves

**/check_solution.py


yasps/fcm_token

**/*.o
**/*.jpg
**/*.html

examples/one_bunny_many_cloths/meshes/*
examples/one_bunny_many_cloths/data/*
examples/dropping/*

**/**/**/.yasps_constant/*
**/**/**/.yasps_tmp/*

**/*.txt

**.pdf

examples/cage/_skipped.face
examples/cubify/*
examples/re_area/*
examples/two_coins/*
examples/swing/*
examples/pendulum/*
examples/affine_hand_collision/*
examples/pendulum_midpoint

mas/*
StiffGIPC/*
